<div id="accordion" role="tablist" aria-multiselectable="true">
  <form>
    <div class="card">
      <div class="card-header" role="tab" id="primary">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapsePrimary" aria-expanded="true" aria-controls="collapsePrimary">
          Primary Details
        </a>
        </h5>
      </div>
      <div id="collapsePrimary" class="collapse in" role="tabpanel" aria-labelledby="primary">
        <div class="card-block">
          <fieldset class="form-group col-md-6">
            <label for="copy_from" class="form-control-label">Copy From</label>
            <input type="text" class="form-control" id="copy_from" placeholder="Old LC Number or Template ID" maxlength="16">
            <label for="reference_no" class="form-control-label">Reference No</label>
            <input type="text" class="form-control" id="reference_no" maxlength="16" required>
            <label for="expiry_date">Expiry Date</label>
            <input type="date" class="form-control" id="expiry_date">
            <p class="form-control-static">&nbsp;</p>
            <fieldset>
              <label for="dnc" class="form-check-inline"><input type="radio" class="form-check-input" value="" id="dnc" name="confirmRadio"> DO NOT CONFIRM</label>
              <label for="may" class="form-check-inline"><input type="radio" class="form-check-input" value="" id="may" name="confirmRadio"> MAY ADD</label>
              <label for="con" class="form-check-inline"><input type="radio" class="form-check-input" value="" id="con" name="confirmRadio"> CONFIRM</label>
            </fieldset>
            <fieldset>
              <label for="transfer" class="form-check-inline"><input type="checkbox" class="form-check-input" value="" id="transfer"> Transferable</label>
              <label for="revolving" class="form-check-inline"><input type="checkbox" class="form-check-input" value="" id="may"> Revolving</label>
              <label for="backtoback" class="form-check-inline"><input type="checkbox" class="form-check-input" value="" id="con"> Back to Back</label>
            </fieldset>
          </fieldset>
          <fieldset class="form-group col-md-6">
            <label for="currency" class="form-control-label">Currency</label>
            <select id="currency" class="form-control">
                    <option *ngFor="let currency of currencyList">{{currency.code}}</option>
                    </select>
            <label for="amount" class="form-control-label">Amount</label>
            <input type="number" class="form-control" id="amount">
            <label for="currency" class="form-control-label">Amount Terms</label>
            <select id="currency" class="form-control">
                    <option>Not Exceeding</option>
										<option>Vary Amount/Pct</option>
                    </select>
            <label for="tolerance_plus" class="form-control-label">Tolerance +</label>
            <input type="range" class="form-control" id="tolerance_plus" min="0" max="100">
            <label for="tolerance_minus" class="form-control-label">Tolerance -</label>
            <input type="range" class="form-control" id="tolerance_minus" min="-100" max="0">
          </fieldset>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="participants">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseParticipants" aria-expanded="false" aria-controls="collapseParticipants">
          Participants
        </a>
        </h5>
      </div>
      <div id="collapseParticipants" class="collapse" role="tabpanel" aria-labelledby="participants">
        <div class="card-block">
          <div class="col-md-6">
            <label for="party_type" class="col-form-label">Party Type</label>
            <select class="form-control" id="party_type">
                <option *ngFor="let party of partyList | listfilter: {imlc:true}">{{party.name}}</option>
          </select>
            <label for="party_name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="party_name">
            <label for="party_address1" class="col-form-label">Address 1</label>
            <input type="text" class="form-control" id="party_address1">
            <label for="party_address2" class="col-form-label">Address 2</label>
            <input type="text" class="form-control" id="party_address2">
            <label for="party_address3" class="col-form-label">Address 3</label>
            <input type="text" class="form-control" id="party_address3">
            <label for="party_country" class="col-form-label">Country</label>
            <select class="form-control" id="party_country">
                  <option *ngFor="let country of countryList">{{country.name}}</option>
          </select>
          </div>
          <div class="col-md-6">
            <label for="party_type" class="col-form-label">Party Type</label>
            <select class="form-control" id="party_type">
                <option *ngFor="let party of partyList | listfilter: {imlc: true}">{{party.name}}</option>
          </select>
            <label for="party_name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="party_name">
            <label for="party_address1" class="col-form-label">Address 1</label>
            <input type="text" class="form-control" id="party_address1">
            <label for="party_address2" class="col-form-label">Address 2</label>
            <input type="text" class="form-control" id="party_address2">
            <label for="party_address3" class="col-form-label">Address 3</label>
            <input type="text" class="form-control" id="party_address3">
            <label for="party_country" class="col-form-label">Country</label>
            <select class="form-control" id="party_country">
                  <option *ngFor="let country of countryList">{{country.name}}</option>
          </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="tenor">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTenor" aria-expanded="false" aria-controls="collapseTenor">
          Tenor and Availability
        </a>
        </h5>
      </div>
      <div id="collapseTenor" class="collapse" role="tabpanel" aria-labelledby="tenor">
        <div class="card-block">
          <div class="form-group col-md-6">
            <fieldset>
              <label for="sight" class="form-check-inline"><input type="radio" class="form-check-input" value="" id="sight" name="tenorRadio"> Sight</label>
              <label for="time" class="form-check-inline"><input type="radio" class="form-check-input" value="" id="time" name="tenorRadio"> Time</label>
              <label for="mixed" class="form-check-inline"><input type="radio" class="form-check-input" value="" id="mixed" name="tenorRadio"> Mixed Payment</label>
            </fieldset>
            <div class="row">
              <fieldset class="col-lg-4">
                <label for="tenor_days" class="col-form-label">Tenor Days</label>
                <input type="text" class="form-control" id="tenor_days">
              </fieldset>
              <fieldset class="col-lg-8">
                <label for="tenor_term" class="col-form-label">Tenor Term</label>
                <select class="form-control" id="tenor_term">
                    <option>After BL Date</option>
                    <option>After Shipment Date</option>
                    <option>After Delivery Date</option>
                    </select>
              </fieldset>
            </div>
            <label for="tenor_duedt" class="col-form-label">Due Date</label>
            <input type="date" class="form-control" id="tenor_duedt">
            <label for="drafts_on" class="col-form-label">Drafts on</label>
            <select class="form-control" id="drafts_on">
                    <option *ngFor="let party of partyList | listfilter: {imlc: true, drafts_on: true}" ng-if="">{{party.name}}</option>
                    </select>
          </div>
          <div class="form-group col-md-6">
            <label for="available_by" class="col-form-label">Available By</label>
            <select class="form-control" id="available_by">
                    <option>By Payment</option>
										<option>By Negotiation</option>
                    <option>By Acceptance</option>
										<option>By Deferred Payment</option>
										<option>By Mixed Payment</option>
                    </select>
            <label for="available_with" class="col-form-label">Available With</label>
            <select class="form-control" id="available_with">
                    <option *ngFor="let party of partyList | listfilter: {imlc: true, available_with: true}">{{party.name}}</option>
                    </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="shipment">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseShipment" aria-expanded="false" aria-controls="collapseShipment">
          Shipment Details
        </a>
        </h5>
      </div>
      <div id="collapseShipment" class="collapse" role="tabpanel" aria-labelledby="shipment">
        <div class="card-block">
          <div class="col-md-6">
            <label for="place_of_receipt" class="col-form-label">Place of Receipt (44A)</label>
            <input type="text" class="form-control" id="place_of_receipt">
            <label for="port_of_loading" class="col-form-label">Port of Loading (44E)</label>
            <input type="text" class="form-control" id="port_of_loading">
            <label for="port_of_discharge" class="col-form-label">Port of Discharge (44F)</label>
            <input type="text" class="form-control" id="port_of_discharge">
            <label for="final_destination" class="col-form-label">Final Destination (44B)</label>
            <input type="text" class="form-control" id="final_destination">
            <label for="latest_shipment" class="col-form-label">Latest Shipment Date</label>
            <input type="date" class="form-control" id="latest_shipment">
            <label for="presentation_period" class="col-form-label">Presentation Days</label>
            <input type="text" class="form-control" id="presentation_period">
            <label for="presentation_clause" class="col-form-label">Presentation Clause</label>
            <textarea class="form-control" rows="5" cols="65" id="presentation_clause"></textarea>
          </div>
          <div class="col-md-6">
            <label for="shipment_by" class="col-form-label">Shipment Mode</label>
            <select class="form-control" id="shipment_by">
                    <option>Sea</option>
                    <option>Air</option>
                    <option>Local Delivery</option>
                    </select>
            <label for="incoterm" class="col-form-label">Incoterm</label>
            <select class="form-control" id="incoterm">
                    <option>EXW</option>
                    <option>FCA</option>
                    <option>FOB</option>
                    <option>CFR</option>
                    <option>CIF</option>
                    <option>CIP</option>
                    </select>
            <label for="incoterm_place" class="col-form-label">Incoterm Place</label>
            <input type="text" class="form-control" id="incoterm_place">
            <label for="shipment_period" class="col-form-label">Shipment Period (44D)</label>
            <textarea class="form-control" rows="5" cols="65" id="shipment_period"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="goodsdocs">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseGoods" aria-expanded="false" aria-controls="collapseGoods">
          Goods, Documents and Additional Conditions
        </a>
        </h5>
      </div>
      <div id="collapseGoods" class="collapse" role="tabpanel" aria-labelledby="goodsdocs">
        <div class="card-block">
          <fieldset class="form-group">
            <label for="goods_description" class="form-control-label">Goods Description</label>
            <textarea class="form-control form-control-width" rows="5" cols="65" id="goods_description"></textarea>
            <label for="docs_required" class="form-control-label">Documents Required</label>
            <textarea class="form-control form-control-width" rows="5" cols="65" id="docs_required"></textarea>
            <label for="addl_conditions" class="form-control-label">Additional Conditions</label>
            <textarea class="form-control form-control-width" rows="5" cols="65" id="addl_conditions"></textarea>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="account">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAccount" aria-expanded="false" aria-controls="collapseAccount">
          Account Details, Special Instructions
        </a>
        </h5>
      </div>
      <div id="collapseAccount" class="collapse" role="tabpanel" aria-labelledby="account">
        <div class="card-block">
          <fieldset class="form-group">
            <label for="bank_comments" class="form-control-label">Comments to Bank</label>
            <textarea class="form-control" id="bank_comments" rows="5"></textarea>
            <label for="internal_comments" class="form-control-label">Comments Internal</label>
            <textarea class="form-control" id="internal_comments" rows="5"></textarea>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="attachments">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAttachments" aria-expanded="false" aria-controls="collapseAttachments">
          Attachments
        </a>
        </h5>
      </div>
      <div id="collapseAttachments" class="collapse" role="tabpanel" aria-labelledby="attachments">
        <div class="card-block">
          <fieldset class="form-group">
            <label for="attachment_type" class="col-form-label">Attachment Type</label>
            <select class="form-control" id="attachment_type">
									<option>Proforma Invoice</option>
									<option>Contract</option>
									</select>
            <label class="custom-file">
  				<input type="file" id="file" class="custom-file-input">
 					 <span class="custom-file-control"></span>
</label>
          </fieldset>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <button class="btn btn-secondary" type="button">Save As Template</button>
  <button class="btn btn-success" type="button">Save & Exit</button>
  <button class="btn btn-primary" type="submit">Submit</button>
  <button class="btn btn-info" type="button">View Swift</button>
  <button class="btn btn-danger" type="button">Exit</button>
</div>
