<div class="container-fluid">
<h1 class="alert alert-success">
  {{title}}
</h1>
<tf-imlc-iss></tf-imlc-iss>
</div>
<!--<select name="Currency" id="currency">
  <option *ngFor="let currency of currencyList">{{currency.code}}</option>
</select>

<select name="Country" id="country">
  <option *ngFor="let country of countryList">{{country.name}}</option>
</select>

<select name="AvailableWith" id="availablewith">
  <option *ngFor="let party of partyList">{{party.name}}</option>
</select>-->

<!--<tf-testform maxlen="10" fieldnm="Copy From" fcname="copy_from" colstyle="col-md-6"></tf-testform>-->